body{
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    font-size: 50px;
    background: gray;
    text-align: center;
}

.wellington {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    color: black;
    text-align: center;
    font-size: 35px;
}

p {
    font-weight: bold;
    font-size: 20px;
    color: #800020;
}

ul {
    color: navy;
    font-weight: bold;
    font-size: 20px; 
}

ol {
    color: purple;
    font-weight: bold;
    font-size: 20px;
}



